*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.basic-bar {
    flex-basis: 60px;
    background: #ededed;
}

.dflex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center
}

.basic-bar.bor-right {
    border-right: 1px solid #e0e0e0;
}

/* STYLES */
body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
        to bottom,
        #009687 0px,
        #009687 13.6vh,
        #d7dbd6 13.6vh,
        #d7dbd6 100%
    )
}

#app {
    width: 80%;
    min-width: 900px;
    height: 96%;
    background: white;
    box-shadow: 0 2px 2px 2px #c6c7c1;
}

/* STYLES SIDEBAR */
#sidebar {
    width: 30%;
    height: 100%;
}

.personal-icon-container {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.personal-icon-container img {
    width: 100%;
}

.activate-notif-bar {
    justify-content: flex-start;
    flex-basis: 70px;
    background: #8edafd;
    padding: 10px;
}

.activate-notif-bar .bell-icon-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #f2fbff;
    color: #8edafd;
    margin-right: 10px;
}

.notif-alert span {
    font-size: 14px;
    opacity: 0.7;
    text-decoration: underline;
}

.search-bar {
    align-content: center;
    flex-basis: 35px;
    background: #f7f7f7;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px;
    opacity: 0.7;
}

.search-bar .search-btn {
    background: white;
    transform: translateY(7%);
    flex-basis: 10%;
    text-align: right;
}

.search-bar .search {
    width: 100%;
    border: none;
    padding: 0 35px;
}

.search-bar .search:focus {
    outline-offset: none;
    outline: none;
}

.sidebar-select-chat {
    overflow-y: scroll;
}

.conv-select {
    display: flex;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
}

.conv-select.active {
    background-color: #ebebeb;
}

.icon-container {
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    margin-right: 20px;
}

.icon-container img {
    width: 100%;
}

.chat-info {
    flex-grow: 1;
}

.chat-info .chat-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-info .chat-info-top .friend-name {
    font-size: 17px;
    display: inline-block;
}

.chat-info .last-msg-time,
.chat-info .last-msg {
    font-size: 12px;
}

.chat-info .last-msg,
.chat-info .last-msg-time {
    opacity: 0.7;
}

/* STYLES MAIN AREA */
#main-area {
    width: 70%;
    height: 100%;
    background-image: url('../img/mine.jpg');
}

.messages-area {
    flex-grow: 1;
}
